<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Missions Index</h1>

  <!-- <% %>   <%= %> -->

 <!-- <p>Mission Name:  <%= missions[0].name %> </p> -->

 <% for(let i = 0; i < missions.length; i++){ %>
  <a href="/missions/<%= i %>">
    <p><%= missions[i].name %></p>
  </a>
 <% } %>



</body>
</html>